ion-card{
    background-color: rgb(87, 87, 230);
    margin-top: 50px;
}

img{
    width: 100%;
}

ion-card-title{
    color:rgb(250, 159, 55);
    font-weight: 700;
}
ion-card-subtitle{
    color: white;
    font-weight: 600;
}

ion-card-content{
    color: white;
    font-weight: 300;
}