<ion-content>
  <ion-list [inset]="true">
    <ion-card *ngFor="let info of datos">

      <div *ngFor="let dato of info.results">

        <img [src]="info.results" alt="Imagen del personaje"/>
        <ion-card-header>
          <ion-card-title>{{dato.name}}</ion-card-title>
          <ion-card-subtitle>{{dato.gender}}</ion-card-subtitle>

        </ion-card-header>
        
        <ion-card-content>
          <p>Especie:{{dato.species}}</p>
          <p>Estado:{{dato.status}}</p>
          <p>Tipo:{{dato.type}}</p>
          <p>Origen:{{dato.origin}}</p>
          <p>Ubicación:{{dato.location}}</p>
          <div *ngFor="let epi of dato.episode">
            <p>{{epi}}</p>
          </div>
        </ion-card-content>

      </div>

    </ion-card>

  </ion-list>