h1{
    text-align: center;
    background-color: rgb(250, 195, 94);
    padding: 15px;
}

img{
    max-width: 20%;
}

ion-item-divider > ion-label{
    color: white;
}

ion-label{
    font-size: 1.5em;
    margin-left: 20px;
}

ion-card{
    margin-top: 10px;
}

ion-item-divider{
    margin-top: 10px;
    background-color: rgb(63, 63, 210);
}

.menu{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

