<h1>Listado de Personajes</h1>

<ion-header class="menu" *ngIf="datos?.info?.count">
  <ion-button (click)="prevPage()">Prev Page</ion-button>
  <ion-button (click)="nextPage()">Next Page</ion-button>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item-group *ngFor="let info of datos?.results">
      <ion-item-divider>
        <ion-label>{{info.species}}</ion-label>
      </ion-item-divider>
    
      <ion-item-sliding>
        <ion-item (click)="go2()">
          <img [src]="info.image" alt="Imagen del personaje"/>
          <ion-label> {{info.name}} </ion-label>
          <ion-label> {{info.status}} </ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option (click)="save(info.id)">Favoritos</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

    </ion-item-group>

  </ion-list>

</ion-content>

